*{
    font-family: 'Gentium Book Basic', serif;
    cursor:default;
    overflow:hidden;
}


html{
    width:100%;
    height:100%;
}

body{
    background-image: url("img/background2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width:100%;
    height:100%;
}

#book-container{
    position: relative;
    margin: 0 auto;
    display: block;
    text-align: center;
    background-color: #7d8a96;
    width: 25%;
    height:650px;
    color:#FFF;
    padding:10px;
    border-radius:15px;
    top:80px;
    box-shadow:35px 45px 75px 5px #000000a3;
    border: 25px solid #787878e6;
    border-top: 25px solid #e9e9e973;
    border-bottom: 5px solid #5c5c5c;
    border-left: 5px solid #8a8a8a99;
    perspective: 335px;
    transform-style: preserve-3d;
}

#book-container,
.book,
.book-title,
.book-image{
    cursor:pointer !important;
}

.book-title{
    font-size: 2em;
    padding: 10px;
    width:100%;
    font-weight:bold;
    text-shadow:1px 1px 10px #000;
}


.book-author{
    font-size:2em;
    padding:15px;
    width:100%;
    text-shadow:1px 1px 10px #000;
}

.book-edition{
    font-size:1.4em;
    padding:10px;
    width:100%;
    text-shadow:1px 1px 10px #000;
}


.book-image{
    width: 400px;
    height: 450px;
    border-radius: 10px;
    padding-top: 5px;
    border:1px solid #FFF;
    box-shadow: 0px 0px 15px 5px #2b3b46;
}

.next,
.previous{
    position:fixed;
    width:100px;
    height:100px;
    background: transparent;
    color: #FFF;
    border: none;
    cursor: pointer;
    outline:none;
    top:500px;
    background: #FFF;
    transition:background 0.5s;
    border-radius: 50%;
}

.next:hover,
.previous:hover,
#cross:hover{
    background: #7b7b7b;
    transition:background 0.5s;
}

.next{
    right:450px;
}

.previous{
    left:450px;
}

.count-books{
    text-align: center;
    color: #0a1c2ebd;
    font-size: 2.8em;
    text-shadow:1px 1px 10px #0a1c2e3d;
}

#cross{
    color: red;
    font-weight: bold;
    float: right;
    position: relative;
    right: 50px;
    top: 25px;
    visibility: hidden;
    cursor:pointer;
    width:50px;
    height:50px;
    background-color: #FFF;
    transition:background 0.5s;
    border-radius: 50%;
}

#book-description{
    color: #FFF;
    font-size: 1.6em;
    text-align: center;
    height: 95%;
    width: 50%;
    display: none;
    position: fixed;
    margin: 0 auto;
    padding: 10px;
    padding-top: 10px;
    background: rgba(10, 28, 46, 0.35);
    border-radius: 15px;
    left: 25%;
    right: 25%;
    top: 10px;
    z-index:10;
}
